* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Sevillana", cursive;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: #fff;
}
footer p {
  color: white;
}
#navbar-section {
  background-color: rgba(140, 140, 140, 0.604);
  box-shadow: inset 0px -1px 1px rgb(132, 127, 127);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
  z-index: 10;
}
#mean-section.nav-item {
  color: #fff;
}
#revies-card-section {
  background: linear-gradient(to left, #0173ff, #76dbfdbe);
  padding: 2rem;
  color: #fff;
}
#revies-card-section .review-card {
  background: #4e627d92;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#revies-card-section p {
  color: #fff;
  /* padding: 5px; */
}
.swiper-card {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 100%;
  height: 100vh;
  background: rgba(3, 229, 237, 0.604);
  backdrop-filter: blur(5px);
  margin-bottom: 50px;
}
/* #mean-section {
  background-image: url("https://images.unsplash.com/photo-1664978108670-e55e999f38fe?q=80&w=1473&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  object-fit: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 50%;
} */
.navbar li {
  font-size: 20px;
  font-weight: bolder;
}
.card h3 {
  font-family: "Berkshire Swash", serif;
}

li {
  list-style: none;
}
p {
  color: #455873;
}
footer {
  background: linear-gradient(to right, #6b0505, #ea040481);
}
.left-arrow {
  background-color: rgba(10, 37, 64, 0.35);
  border: 1px solid salmon;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
}
#scroll .icons:hover {
  color: brown;
  /* background-color: #455873; */
}
#scroll .card {
  background-image: linear-gradient(
    to right,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  color: #fff;
}
.swiper-modul {
  position: relative;
  height: 100%;
}

/* .swiper-modul {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}*/

.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100vh; */
  z-index: 1;
}
/* z-index: -1;
transition-duration: 1000ms;
transform: translate3d(0px, 0px, -207.613px) rotateX(0deg)
  rotateY(-51.9034deg) scale(1);
margin-right: 20px;
width: 525px; */

/* .btn:hover {
  animation-duration: 5s;
  background-color: yellowgreen; */
/* } */
.story-card-seection:hover {
  text-decoration: underline;
}
.story-card-seection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.dropdown-menu-transpar {
  background-color: rgba(140, 140, 140, 0.604);
  backdrop-filter: blur(8px);
}
.dropdown-menu-transpar :hover {
  background-color: rgba(200, 200, 200, 0.483);
  color: #fff;
}

/* .card img {
  position: relative;
  overflow: hidden;
}
.card img:hover {
  transform: scale(1.1);
}
.card img {
  width: 100%;
  transition: all 0.3s ease-in-out;
} */
.popular-location-list-item {
  flex: 0 0 auto;
  width: 25%;
}
.journey-price-detils {
  flex: 0 0 auto;
  width: 25%;
}
.Foreign-Trips-list {
  flex: 0 0 auto;
  width: 25%;
  overflow: hidden;
}
.card-pill {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.323) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(51, 51, 51, 0.763) 0px 2px 1px, rgba(0, 0, 0, 0.056) 0px 5px 2px,
    rgba(0, 0, 0, 0.5) 0px 8px 4px;
  /* rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-link {
  margin-left: 1rem;
  color: #fff;
  font-size: 20px;
  border: 1px solid transparent;
  padding: 9px 13px;
  border-radius: 15px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #9cfb03;
  text-decoration: none;
}

.icons-link:hover {
  background-color: rgb(99, 151, 247);
  border-color: #0521f3;
  text-decoration: none;
}

@media (max-width: 760px) {
  .popular-location-list-item,
  .journey-price-detils,
  .Foreign-Trips-list {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .popular-location-list-item,
  .journey-price-detils,
  .Foreign-Trips-list {
    width: 100%;
  }
}
